body {
  background-image: url(img/nasa-moon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  color: rgba(13, 13, 13);
  font-style: "Tomorrow", sans-serif;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

a.btn.logout {
  color: #0D0D0D;
}

.left {
  margin-top: 170px;
  font-family: "Press Start 2P", cursive;
  padding: 20px;
  font-size: 20px;
}

form {
  margin-top: 25px;
}

#signup {
    color: rgba(13, 13, 13);
    font-family: "Tomorrow", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.015em;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    margin-top: 115px;
    font-size: 24px;
}

.special, .btn-link.try, input[type="submit"] {
  margin: 0px;
  display: inline-block;
  background-color: transparent;
  padding: 15px 15px;
  border: 1px solid rgba(13, 13, 13);
  text-transform: uppercase;
  letter-spacing: 0.015em;
  font-family: "Tomorrow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: rgba(13, 13, 13);             
  text-decoration: none;
  -webkit-transition: all 0.4s;
     -moz-transition: all 0.4s;
       -o-transition: all 0.4s;
          transition: all 0.4s;
}

.btn:hover {
  color: rgba(13, 13, 13);;
  border-color: #BFFF97;
}


.form-control {
  width: 350px;
  background: transparent;
  border: 0;
  border-bottom: 1.5px solid rgba(13, 13, 13);
  outline: none;
  color: rgba(217, 217, 217);
  font-size: 16px;
  text-align: center;
  font-family: "Tomorrow", sans-serif;
  margin-bottom: 50px;
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
  color: rgba(72, 72, 72);
  opacity: 1;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  font-family: "Tomorrow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  background: transparent;
}

input[type="text"], input[type="password"] {
  border-left: transparent;
  border-right: transparent;
  border-top: transparent;
  background-color: transparent;
  border-color: rgba(13, 13, 13);
}

input[type="submit"] {
  background: #ccc;
  border: 0;
  width: 350px;
  height: 40px;
  border-radius: 0px;
  color: rgba(13, 13, 13);
  font-size: 12px;
  font-weight: 400px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background: #cccccc;
  animation-name: shake;
}

.col-xs-12 .left {
  margin: 0px;
}

