#signup {
    display: inline-block;
    margin-left: 80px;
    margin-right: 200px;
}

#login {
    display: inline-block;
}

#moonphasetoday {
    text-align: center;
}

.moonphasetodaytitle {
    text-align: center;
}

.subheading {
    font-style: italic;
}

.navbar {
    background-color: #403854;
    margin: 0px;
}

.nav-custom > ul {
    display: inline;
    white-space: nowrap;
}

body {
    margin-left: 50px;
    margin-right: 50px;
}

