body {
    margin-left: 50px;
    margin-right: 100px;
    background-color: rgba(13, 13, 13);
    color: rgba(217, 217, 217);
}

.navbar {
  background: transparent;
  border: none;
  color: rgba(217, 217, 217);
  font-family: 'Tomorrow', sans-serif;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav li a {
  color: rgba(217, 217, 217);
  font-family: 'Tomorrow', sans-serif;

}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav li a:hover {
  color: rgba(217, 217, 217);
}

#moonphasetoday {
  text-align: center;
  font-family: 'Tomorrow', sans-serif;
}

.moonphasetodaytitle {
  text-align: center;
  font-family: 'Tomorrow', sans-serif;
}

#calendar, .subheading {
  font-family: 'Tomorrow', sans-serif;
}

.subheading {
  font-style: italic;
}

.fc-day-number, .fc-event-container, .fc-today-button, .fc-prev-button, .fc-next-button {
  color: rgba(166, 165, 164);
  background-color: rgba(13, 13, 13);
  border-color: rgba(166, 165, 164);
}

.fc-unthemed td.fc-today {
  background: rgba(115, 114, 114);
}

.fc-button-primary:disabled, .fc-prev-button:hover, .fc-next-button:hover{
  background-color: rgba(166, 165, 164);
  border-color: transparent;
}

.flashes {
  background-color: rgba(166, 165, 164);
}

h2 {
  font-family:'Press Start 2P', cursive;
}
