.flashes, ul.flashes {
  background-color: White;
  color: rgba(13, 13, 13);
  margin-right:700px;
  margin-left:75px;
}

body {
  margin-left: 50px;
  margin-right: 100px;
  background-color: rgba(13, 13, 13);
  color: rgba(217, 217, 217);
  font-family: 'Tomorrow', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.015em;
}

.navbar {
  background: transparent;
  border: none;
  color: rgba(217, 217, 217);
  text-transform: uppercase;
  letter-spacing: 0.015em;
  font-family: 'Tomorrow', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  padding: 0px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav li a:hover {
  color: rgba(217, 217, 217);
}

#moonphasetoday {
  text-align: center;
  font-family: 'Tomorrow', sans-serif;
}

.moonphasetodaytitle {
  text-align: center;
  font-family: 'Tomorrow', sans-serif;
}

#calendar, .subheading {
  font-family: 'Tomorrow', sans-serif;
}

.subheading {
  font-style: italic;
}

.fc-day-number, .fc-event-container, .fc-today-button, .fc-prev-button, .fc-next-button {
  color: rgba(166, 165, 164);
  text-transform: uppercase;
  letter-spacing: 0.015em;
  background-color: rgba(13, 13, 13);
  border-color: rgba(166, 165, 164);
}

.fc-unthemed td.fc-today {
  background: rgba(217, 217, 217);
}

.fc-button-primary:disabled, .fc-prev-button:hover, .fc-next-button:hover{
  background-color: rgba(166, 165, 164);
  border-color: transparent;
}

.fc-title {
  color: #D9D9D9;
}

h2 {
  font-family:'Press Start 2P', cursive;
}

.tooltip-text:hover {
  color: rgba(166, 165, 164)
}

input[type="text"], input[type='password'] {
  border-left: transparent;
  border-right: transparent;
  border-top: transparent;
  background-color: transparent;
}

.change-settings, .save-settings {
  border: 1px solid rgba(217, 217, 217);
  padding: 10px;
  margin-bottom: 20px;
  color: rgba(217, 217, 217);
  text-transform: uppercase;
  letter-spacing: 0.015em;
}

.full_moon_nicknames, .moon_phases {
  margin-right: 180px;
  margin-left:50px;
}

.btn:hover, .btn-link.try:hover {
  color: rgba(13, 13, 13);
  border-color: #BFFF97;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  font-family: 'Tomorrow', sans-serif;
}

.btn-link.try, a.btn {
  margin: 0px;
  display: inline-block;
  background-color: transparent;
  padding: 15px 15px;
  border: 1px solid rgba(13, 13, 13);
  text-transform: uppercase;
  letter-spacing: 0.015em;
  font-family: 'Tomorrow', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: rgba(13, 13, 13);             
  text-decoration: none;
  -webkit-transition: all 0.4s;
     -moz-transition: all 0.4s;
       -o-transition: all 0.4s;
          transition: all 0.4s;
}

.form-login {
  background: transparent;
  border: 0;
  border-bottom: 1.5px solid rgba(13, 13, 13);
  color: rgba(13, 13, 13);
  text-transform: uppercase;
  letter-spacing: 0.015em;
  font-family: 'Tomorrow', sans-serif;
}

.btn.popover-info, .btn {
  background: transparent;
}

input[type='checkbox'] {
  margin: 8px;
  -webkit-transform: scale(1.4); /* Safari and Chrome */
  transform: scale(1.2);
  padding: 10px;
}

input[type="submit"] {
  border: 1;
  border-radius: 1px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  margin: 0px;
  display: inline-block;
  background-color: transparent;
  padding: 15px 15px;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  font-family: 'Tomorrow', sans-serif;
  font-size: 16px;
  line-height: 1;           
  -webkit-transition: all 0.4s;
}

input[type="submit"]:hover {
  border-color: #BFFF97;
  animation-name: shake;
}