.navbar {
  background: transparent;
  border: none;
  color: rgba(217, 217, 217);
  font-family: 'Tomorrow', sans-serif;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav li a {
  color: rgba(217, 217, 217);
  font-family: 'Tomorrow', sans-serif;

}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav li a:hover {
  color: rgba(217, 217, 217);
}

#moonphasetoday {
  text-align: center;
  font-family: 'Tomorrow', sans-serif;
}

.moonphasetodaytitle {
  text-align: center;
  font-family: 'Tomorrow', sans-serif;
}

.subheading {
  font-family: 'Tomorrow', sans-serif;
}

calendar {
  font-family: 'Tomorrow', sans-serif;
}

body {
    margin-left: 50px;
    margin-right: 100px;
    background-color: rgba(13, 13, 13);
    color: rgba(217, 217, 217);
}