<!doctype html>
<html>
<head>
    <title>Moon Phase Tracker</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='static/fullcalendar/packages/core/main.css' rel='stylesheet'/>
    <link href='static/fullcalendar/packages/daygrid/main.css' rel='stylesheet'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Changa|Electrolize|Jura|Nanum+Gothic+Coding|Press+Start+2P|Tomorrow|Turret+Road|Ubuntu+Mono&display=swap" rel="stylesheet">
    <link href='static/style.css' rel='stylesheet'/>
    <link href="/static/favicon.ico" rel="icon" type="image/x-icon"/>


    <script src='static/fullcalendar/packages/core/main.js'></script>
    <script src='static/fullcalendar/packages/daygrid/main.js'></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src='https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js'></script>

<body>
  <!-- Static navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Moon Phase Tracker</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="/calendar">Moon Phase Calendar</a></li>
        {% if 'fname' in session %}
            <li><a href="/display-settings">Manage Settings</a></li>
        </ul>
        <form>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout" class="btn">Log Out</a></li>
        {% else %}
            <li>
                <form action="/login" method="POST">
                    <input name="email" type="text" class="form-login" placeholder="Your Email" hidden>
                    <input name="password" type="password" class="form-login" placeholder="Your Password" hidden>
                    <button class="btn btn-link try" data-is-clicked="false" role="button">Log In</button>
            </form>
        </ul>
        {% endif %}
      </div>
    </div>
  </nav>



    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}

  {% block content %} put your content here {% endblock %}

</body>


<script>
    $('.try').on('click', (evt) => {
        const btn = $(evt.target);
        console.log(btn.data("isClicked"));

        if (btn.data('isClicked') === false) {
            evt.preventDefault();
            $('.form-login').removeAttr('hidden');
            btn.data('isClicked', true);
            console.log('hi')
        }
    })
</script>

</html>