<!doctype html>
<html>
<head>
  <title>Moon Phase Tracker</title>
</head>
<body>
<header>
    <div class = "container">
        <nav>
            <ul>
                <li><a href="/">Homepage</a></li>
                <li>{% if "email" in session %}</li>
                        <a href="/settings">Manage settings</a>
                    {% else %}
                        <a href="/register">Sign up for alerts</a>
                    {% endif %}
                </li>
                <li> {% if "email" not in session %}
                        <a href="/login">Log in</a>
                    {% else %}
                        <a href="/logout">Log out</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>
</header>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}

  {% block content %} put your content here {% endblock %}

</body>
</html>