<!doctype html>
<html>
<head>
    <title>Moon Phase Tracker</title>
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
    <link href='/node_modules/@fullcalendar/core/main.css' rel='stylesheet' />
    <link href='/node_modules/@fullcalendar/daygrid/main.css' rel='stylesheet' />
    <link href='/node_modules/@fullcalendar/timegrid/main.css' rel='stylesheet' />
    <link href='/node_modules/@fullcalendar/interaction/main.css' rel='stylesheet' />
    <script src='/static/calendar.js'></script>

    <script src='/node_modules/fullcalendar/core/main.js'></script>
    <script src='/node_modules/fullcalendar/daygrid/main.js'></script>
    <script src='/node_modules/fullcalendar/timeGrid/main.js'></script>
    <script src='/node_modules/fullcalendar/interaction/main.js'></script>
<body>
<header>
    <div class = "container">
        <nav>
            <ul>
                <li><a href="/">Homepage</a></li>
                <li>{% if "email" in session %}</li>
                        <a href="/display-settings">Manage settings</a>
                    {% else %}
                        <a href="/register">Sign up for alerts</a>
                    {% endif %}
                </li>
                <li> {% if "email" not in session %}
                        <a href="/login">Log in</a>
                    {% else %}
                        <a href="/logout">Log out</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>
</header>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}

  {% block content %} put your content here {% endblock %}

</body>
</html>