
{% extends 'base.html' %}
{% block content %}

<h3>Complete the form below to sign up for texts and gain access</h3>
<br>
<form action="/process-registration" method="POST">
    First name:
    <input type='text' name ='fname'>
    <br>
    <br>
    Last name:
    <input type='text' name ='lname'>
    <br>
    <br>
    Phone number:
    <input type='text' name ='phone'>
    <br>
    <br>
    Which text alerts would you like to receive?
    <br>
    <div class="moon_phase_checkboxes">
        <h5>Moon Phases</h5>
        {% for moon_phase_type in moon_phase_types %}
            <input type="checkbox" name="moon_phases" value="{{ moon_phase_type.title }}"> {{ moon_phase_type.title }}
            <button type="button" class="btn" data-toggle="popover" title="{{ moon_phase_type.title }}" data-content="{{ moon_phase_type.description }}">
                <span class="glyphicon glyphicon-question-sign"></span>
            </button>
            <br>
        {% endfor %}
        <h5>Specific Full Moons</h5>
        {% for full_moon_nickname in full_moon_nicknames %}
            <input type="checkbox" name="full_moon_nicknames" value="{{ full_moon_nickname.title }}"> {{ full_moon_nickname.title }}
            <button type="button" class="btn" data-toggle="popover" title="{{ full_moon_nickname.title }}" data-content="{{ full_moon_nickname.description }}">
                <span class="glyphicon glyphicon-question-sign"></span>
            </button>
            <br>
        {% endfor %}
    </div>
    <input type="submit">

</form>

<style>
    .popover.show {
    opacity: 1;
}
</style>

<script>
$(document).ready(function() {
    $('[data-toggle="popover"]').popover({
        trigger:'click',
        opacity: 1
    });
});
</script>

{% endblock %}