
{% extends 'base.html' %}
{% block content %}

<h1>Settings</h1>


<form action='/change-settings' method="POST">

    First name:
    <input type='text' name ='fname' value = '{{ user.fname }}' disabled>
    Last name:
    <input type='text' name ='lname' value = '{{ user.lname }}' disabled>
    Phone number:
    <input type='text' name ='phone' value = '{{ user.phone }}' disabled>
    Email address:
    <input type='text' name ='email' value = '{{ user.email }}' disabled>
    Texts:
    {% for moon_phase in moon_phases %}
        {% if moon_phase.moon_phase_type_id in user_moon_alerts %}
            <input type="checkbox" name="moon_phases" value="{{ moon_phase.title }}" checked disabled>{{ moon_phase.title }}
        {% else %}
            <input type="checkbox" name="moon_phases" value="{{ moon_phase.title }}" disabled>{{ moon_phase.title }}
        {% endif %}
    {% endfor %}
<button type="button" class="change-settings">Change settings</button>
</form>



<script>
    $('button').on('click', () => {
        $('input').removeAttr('disabled');
        $('button').replaceWith($('<input type=submit>'));
    })
</script>
{% endblock %}
<!-- // create  check boxes for the phases
// a javascript is will loop through the phases to see if the user has an alert 

// if the user has this moon phase, show itll be checked else unchecked, inside the for looped
 -->




