{% extends 'base.html' %}
{% block content %}

<h1>Settings</h1>


<form action='/change-settings' method="POST">

    First name:
    <input type='text' name ='fname' value = '{{ user.fname }}' disabled>
    Last name:
    <input type='text' name ='lname' value = '{{ user.lname }}' disabled>
    Phone number:
    <input type='text' name ='phone' value = '{{ user.phone }}' disabled>
    Email address:
    <input type='text' name ='email' value = '{{ user.email }}' disabled>
    Texts:<br>
    {% for moon_phase in moon_phases %}
        {% if moon_phase.moon_phase_type_id in moon_phase_type_alerts %}
            <input type="checkbox" name="moon_phases" value="{{ moon_phase.moon_phase_type_id }}" checked disabled>{{ moon_phase.title }}<br>
        {% else %}
            <input type="checkbox" name="moon_phases" value="{{ moon_phase.moon_phase_type_id }}" disabled>{{ moon_phase.title }}<br>
        {% endif %}
    {% endfor %}
    {% for full_moon_nickname in full_moon_nicknames %}
        {% if full_moon_nickname.full_moon_nickname_id in full_moon_nickname_alerts %}
            <input type="checkbox" name="full_moon_nicknames" value="{{ full_moon_nickname.full_moon_nickname_id }}" checked disabled>{{ full_moon_nickname.title }}<br>
        {% else %}
            <input type="checkbox" name="full_moon_nicknames" value="{{ full_moon_nickname.full_moon_nickname_id }}" disabled>{{ full_moon_nickname.title }}<br>
        {% endif %}
    {% endfor %}
<button type="button" class="change-settings">Change settings</button>
</form>



<script>
    $('button').on('click', () => {
        $('input').removeAttr('disabled');
        $('button').replaceWith($('<input type=submit>'));
    })
</script>
{% endblock %}


